<html>
<head>
    <title> Contact-Us </title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet">

    <link href="/styles.css" rel="stylesheet">
</head>

<body>
    <header> 
        <%- include('./partials/header'); %> 
    </header>

    <div class = 'container my-5 border-bottom border-white'> 
        <h1 class = 'display-4 text-center text-white'> 
            Contact Us
        </h1> 
    </div> 
    <div class = 'container my-4'> 
        <div class = 'row align-items-center'> 
            <div class = 'col col-md-6'> 
                <img class = 'img-fluid rounded-circle about-img' src = '/media/brandon_img.jpg' alt = 'Brandon Image' />
            </div>  
            <div class = 'col-md-6'> 
                <p class = 'text-white text-center text-4 text-animate'> My name is Brandon Corn and I'm a Senior Computer Science Student
                    at Columbus State University. My focus is in web development and my dream is to become a full-stack engineer. 
                    I have a passion for learning and love the endless possibilities and learning opportunities that technology 
                    presents.  </p>
                <hr> <hr> 
                <ul class = 'contact-list'> 
                    <li class = 'contact-list-item text-4 text-secondary'> Email: <i> corn_brandon@columbusstate.edu </i> </li>
                    <li class = 'contact-list-item text-4'> <a class = 'text-secondary border-bottom' href = 'https://www.linkedin.com/in/brandon-corn-3b3249152/'> LinkedIn/Brandon Corn </a> </li>
                    <li class = 'contact-list-item text-4'> <a class = 'text-secondary border-bottom' href = 'https://www.github.com/BrandonCorn'> Github/Brandon Corn </a> </li>
                </ul>

            </div> 
        </div>
    </div> 
     
    <!-- <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img class="d-block w-100 h-75" src="/media/code-img.jpg" alt = 'Code Image'>
          </div>
        </div>
      </div> -->

    <div class = 'w-100 bg-white'> 
    <div class = 'container mt-4 pt-4'> 
        <div class = 'row align-items-center'> 
            <div class = 'col col-md-6 order-md-2'> 
                <img class = 'img-fluid rounded-circle about-img' src = '/media/mike_img.jpg' alt = 'Brandon Image' />
            </div>  
            <div class = 'col-md-6 order-md-1'> 
                <p class = 'text-dark text-center text-4'> I am a senior at Columbus State University and majoring in Computer Science
                    Spring 2021 is when I will be graduating, and I hope to work in Florida near a nice beach.
                    I enjoy playing video games, trying out weird foods from around the world, and travelling everywhere I get the chance to.  </p>
                <hr class = 'invisible'> <hr class = 'invisible'> 
                <ul class = 'contact-list'> 
                    <li class = 'contact-list-item text-4 text-secondary'> Email: <i> miguelmontieljr@gmail.com </i> </li>
                    <li class = 'contact-list-item text-4'> <a class = 'text-secondary border-bottom' href = 'https://www.linkedin.com/in/miguel-montiel-8aab58139/'> LinkedIn/Miguel  </a> </li>
                    <li class = 'contact-list-item text-4'> <a class = 'text-secondary border-bottom' href = 'https://github.com/MikeVita4'> Github/Miguel </a> </li>
                </ul>

            </div> 
        </div>
    </div> 
</div> 
    <footer> 
        <%- include('./partials/footer'); %> 
    </footer>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <!-- Added -->  
    <script src = 'https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js'> </script> 
</body>
</html>