body{
    /* background-color: #343a40; */
    background-color: black; 
}

.nav-link{
    text-decoration: none;
    color: white; 
}
.nav-link:hover{
    opacity: 0.6; 
    color: white; 
}

.navbar-brand {
    color: white;  
}
.navbar-brand:hover{
    color:white; 
}

.navbar-toggler-icon{
    color:white; 
}


/* ***************** ALL GAMES PAGE *****************  */
.btn-link{ 
    color: #b76e79;  
}

.btn-link:hover{
    color: #b76e79;
    text-decoration: none; 
    opacity:  0.7; 
}

/* ***************** CONTACT US PAGE *****************  */
.about-img{
    height: 75%;
    margin-bottom: 2rem;  
}

.contact-list{
    list-style-type: none; 
      
}

.contact-list-item{
    margin-top: 1rem; 
    margin-bottom: 1rem;  
}

.text-4{
    font-size: 1rem;  
}


@media (min-width: 576px) { 
    .text-4{
        font-size: 1rem; 
    }
}


@media (min-width: 768px) { 
    .text-4{
        font-size: 1.2rem; 
    }
 }

@media (min-width: 992px) { 
    .text-4{
        font-size: 1.4rem; 
    }
 }

@media (min-width: 1200px) { 

 }


 /* ***************** ANIMATIONS ***************** */
 .text-animate{
    transform: translateX(-50px, 0); 
    transition: all 1s ease-in;  
}


/* ***************** HOME PAGE *****************  */
.jumbotron {
  padding-top: 6rem;
  padding-bottom: 6rem;
  margin-bottom: 0;
  background-color: #fff;
  background-image: url('media/games.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.jumbotron-heading {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 40rem;
  background: rgba(255,255,255,0.2);
  padding: 2rem;
  color: white;
}

.jumbotron p {
    color: white;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}